.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-message {
  text-align: center;
  padding: 20px;
  border: 2px solid #1b6ec2;
  border-radius: 10px;
  background-color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -200px;
}

h1 {
  color: #1b6ec2;
}

p {
  color: #555;
}
